<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CI Status dashboard{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body ng-app="app" ng-controller="DashboardController">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('dashboard') }}">CI Status</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        {% block main_menu %}{% endblock %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <p class="pull-left">
                        Made with &hearts; by <a href="https://piwik.pro">Piwik PRO</a> |
                        Powered by <a href="https://travis-ci.org/">Travis CI</a>
                        &amp; <a href="https://github.com/">GitHub</a>
                    </p>
                    <p class="pull-right">
                        <a href="https://github.com/piwik/ci-status" title="The CI Status GitHub project">
                            <i class="fa fa-github"></i>
                            piwik/ci-status on GitHub</a>
                    </p>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {{ piwik_code() }}
    </body>
</html>
